@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'EF_watermelonSalad';
	margin-top: 30px;
	margin-right: 100px;
}

caption {
	margin-bottom: 30px;
}

select {
	font-family: 'EF_watermelonSalad';
	font-size: 16px;
}

table {
	cellspacing="1";
}

a { 
	text-decoration: none;
	color: black;
}

td:hover {
	background-color: tomato;
	font-weight: bold;
	font-size: 22px;
}

h3 {
	color: tomato;
	margin-bottom: 30px;
	font-family: 'EF_watermelonSalad';
}

#box {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	margin-bottom: 30px;
}

#box>div {
	margin-right: 20px;
}

#box>div>div {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
    width: 120px;
    height: 40px;
    background-color: #ADA6D6;
    font-family: 'EF_watermelonSalad';
    margin-top: 10px;
    font-weight: bold;
}

.selected {
	box-sizing: border-box;
	border: 5px solid black;
}

#section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#schedule {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	align-items: center;
}

#button {
	display: flex;
	flex-direction: row;
}

button {
	width: 100px;
	height: 50px;
	margin-right: 20px;
	font-family: 'EF_watermelonSalad';
}