@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#container {
	font-family: 'EF_watermelonSalad';
	font-size: 16px;
}

#describe {
	margin-top: 60px;
	text-align: center;
}

#join {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#image {
	margin-left: 30px;
}

#table {
	margin-left: 50px;
}


h1 {
	color: blue;
}

h2 {
	color: red;
}

th {
	height: 40px;
	font-weight: normal;
}

input {
	font-family: 'EF_watermelonSalad';
	width: 200px;
	height: 25px;
}

#button {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

input::placeholder {
	font-family: 'EF_watermelonSalad';
	font-size: 12px;
}

#gymAddress, #gymDetailaddress {
	width: 400px;
}

#addressButton, #submitButton, #resetButton {
	color: white;
	background-color: rgb(100,80,170);
	border: 0 solid white;
	padding: 5px 5px;
	width: 70px;
	height: 30px;
}

#submitButton {
	margin-right: 10px;
}

.message {
	
}