<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.spring.match.model.dao.MatchDao">
	<resultMap type="gym" id="matchMap"></resultMap>
	<resultMap type="MatchInfo" id="scheduleInfoMap">
		<result property="" column="" />
	</resultMap>
	<resultMap type="MatchInfo" id="scheduleIfvMap">
		<result property="code" column="match_no" />
	</resultMap>
	<resultMap type="Match" id="MatchMap"></resultMap>
	<resultMap type="MatchList" id="MatchListMap"></resultMap>
	<resultMap type="ChallengerList" id="ChallengerListMap"></resultMap>
	
	<select id="selectScheduleList" resultMap="scheduleInfoMap">
		SELECT S.GYM_NO, G.GYM_NAME, G.GYM_ADDRESS, G.GYM_DETAILADDRESS, S.MATCH_DATE, S.MATCH_TIME, S.CODE
		FROM SCHEDULE S
		JOIN GYM G ON S.GYM_NO = G.GYM_NO
		WHERE S.MATCH_DATE BETWEEN TO_DATE(#{matchdate} || ' 00:00:00', 'YYYY/MM/DD HH24:MI:SS') AND TO_DATE(#{matchdate} || ' 23:59:59', 'YYYY/MM/DD HH24:MI:SS')
		ORDER BY S.GYM_NO, S.MATCH_TIME
	</select>
	
	<insert id="registerMatch">
		INSERT INTO MATCH
		(NO, MATCH_NO, GYM_NO, USER_ID1, MATCHDATE, MATCHTIME, MATCH_STATUS, DEL_YN)
		VALUES(
			SEQ_NO.NEXTVAL,
			#{matchNo},
			#{gymNo},
			#{userId1},
			#{matchdate},
			#{matchtime},
			#{matchStatus},
			#{delYn}
		)		
	</insert>
	
	<select id="selectMatch" resultMap="MatchMap">
		SELECT MATCH_NO, GYM_NO, USER_ID1, DEL_YN
		FROM MATCH
		WHERE MATCH_NO = #{matchNo}
		AND GYM_NO     = #{gymNo}
		AND USER_ID1   = #{userId1}
	</select>
	
	<update id="updateMatch">
		UPDATE MATCH
		<set>
			<if test="userId1     != null">USER_ID1       = #{userId1},    </if>
			<if test="userId2     != null">USER_ID2       = #{userId2},    </if>
			<if test="matchdate   != null">MATCHDATE      = #{matchdate},  </if>
			<if test="matchtime   != null">MATCHTIME      = #{matchtime},  </if>
			<if test="score1      != null">SCORE1         = #{score1},     </if>
			<if test="score2      != null">SCORE2         = #{score2},     </if>
			<if test="matchStatus != null">MATCH_STATUS   = #{matchStatus},</if>
			<if test="delYn       != null">DEL_YN         = #{delYn}       </if>
		</set>
		WHERE MATCH_NO = #{matchNo}
		AND USER_ID1   = #{userId1}
	</update>
	
	<select id="selectMatchList" resultMap="scheduleIfvMap" parameterType="map">
		SELECT M.NO, M.MATCH_NO, G.GYM_NO, G.GYM_NAME, M.MATCHDATE, M.MATCHTIME
		FROM MATCH M
		JOIN GYM G ON M.GYM_NO = G.GYM_NO
		WHERE M.USER_ID1 = #{userId}
		AND M.MATCHDATE BETWEEN TO_DATE(#{matchdate} || ' 00:00:00', 'YYYY/MM/DD HH24:MI:SS') AND TO_DATE(#{matchdate} || ' 23:59:59', 'YYYY/MM/DD HH24:MI:SS')
		AND M.DEL_YN     = 'N'
		ORDER BY M.GYM_NO, M.MATCHTIME
		
		<!-- SELECT M.NO, M.MATCH_NO, G.GYM_NO, G.GYM_NAME, M.MATCHDATE, M.MATCHTIME
		FROM MATCH M
		JOIN GYM G ON M.GYM_NO = G.GYM_NO
		WHERE M.USER_ID1 = #{userId1}
		AND M.MATCHDATE >= SYSDATE
		AND M.DEL_YN     = 'N'
		ORDER BY M.MATCHDATE, M.MATCHTIME -->
	</select>
	
	<select id="selectTotalRecordMatchList" resultType="_int">
		select count(*)
		  from match
		 where match_status = 1
	</select>
	
	<select id="selectMatchingList" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and m.match_status = 1
		 order by no desc
	</select>
	
	<select id="matchListFilterGender" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p, member r
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and m.user_id1 = r.user_id
		   and r.user_gender = #{gender}
		   and m.match_status = 1
		 order by m.no desc
	</select>
	
	<select id="selectTotalRecordMatchListGender" resultType="_int">
      	  select count(*)
                    from match m, gym g, profile p, member r
		            where m.gym_no = g.gym_no
		            and m.user_id1 = p.user_id
		            and m.user_id1 = r.user_id
		            and r.user_gender = #{gender}
		            and m.match_status = 1
	</select>
	
	<select id="selectTotalRecordMatchListLocation" resultType="_int">
      	  select count(*)
                    from match m, gym g, profile p
		            where m.gym_no = g.gym_no
		            and m.user_id1 = p.user_id
		            and g.gym_address Like '' || #{locations} || '%'
		            and m.match_status = 1
	</select>
	
	<select id="matchListFilterLocation" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and g.gym_address Like '' || #{locations} || '%'
		   and m.match_status = 1
		 order by m.no desc
	</select>
	
	<select id="selectTotalRecordMatchListNick" resultType="_int">
      	  select count(*)
                    from match m, gym g, profile p
		            where m.gym_no = g.gym_no
		            and m.user_id1 = p.user_id
		            and p.pro_nick Like '%' || #{searchInput} || '%'
		            and m.user_id2 is null
	</select>
	
	<select id="matchListFilterNick" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and p.pro_nick Like '%' || #{searchInput} || '%'
		   and m.match_status = 1
		 order by m.no desc
	</select>
	
	<select id="matchListFilterDow" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and to_char(m.matchdate, 'day') = #{dowString}
		   and m.match_status = 1
		 order by m.no desc
	</select>
	
	<select id="selectTotalRecordMatchListDow" resultType="_int">
		select count(*)
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and to_char(m.matchdate, 'day') = #{dowString}
		   and m.match_status = 1
		 order by m.no desc
	</select>
	
	<delete id="deleteMatch">
		DELETE FROM MATCH
		WHERE MATCH_NO = #{code}
	</delete>
	
	<select id="toCopyMatchData" resultMap="MatchMap">
		select *
		  from match
		 where no = #{no}
	</select>
	
	<select id="challengerInsertDecision" resultType="_int">
		select count(*)
		  from match
		 where no = #{no}
		   and user_id2 is null
	</select>
	
	<select id="challengerInsertDecision2" resultType="_int">
		select count(*)
		  from match
		 where no = #{no}
		   and user_id2 is not null
	</select>
	
	<select id="challengerInsertDecision3" resultType="_int">
		select count(*)
		  from match
		 where match_no = #{matchNo}
		   and user_id1 = #{userId1}
	</select>
	
	<select id="challengerInsertDecision4" resultType="_int">
		select count(*)
		  from match
		 where match_no = #{matchNo}
		   and user_id1 = #{userId1}
		   and user_id2 = #{userId2}
	</select>
	
	<update id="challengerUpdate">
		update match
		   set user_id2 = #{userId2}
		 where no = #{no}
	</update>
	
	<insert id="challengerInsert">
		insert into match
			values(
				seq_no.nextval,
				#{matchNo},
				#{gymNo},
				#{userId1},
				#{userId2},
				#{matchdate},
				#{matchtime},
				#{score1},
				#{score2},
				#{matchStatus},
				#{delYn}
			)
	</insert>
	
	<select id="selectTotalRecordMatchListReg" resultType="_int">
		select count(*)
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and m.match_status = 1
		   and m.user_id1 = #{userId1}
		 order by m.no desc
	</select>
	
	<select id="matchListReg" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p
		 where m.gym_no = g.gym_no
		   and m.user_id1 = p.user_id
		   and m.match_status = 1
		   and m.user_id1 = #{userId1}
		 order by m.no desc
	</select>
	
	<select id="selectTotalRecordMatchListChal" resultType="_int">
		select count(*)
		  from match m, gym g, profile p
		  where m.gym_no = g.gym_no
		    and m.user_id1 = p.user_id
		    and m.match_status = 1
		    and m.user_id2 = #{userId2}
		  order by m.no desc
	</select>
	
	<select id="matchListChal" resultMap="MatchListMap">
		select m.no, m.matchdate, m.matchtime, g.gym_address, g.gym_detailaddress, p.pro_nick, p.user_id, m.user_id1, m.match_no
		  from match m, gym g, profile p
		  where m.gym_no = g.gym_no
		    and m.user_id1 = p.user_id
		    and m.match_status = 1
		    and (m.match_no, m.user_id1) in (select match_no, user_id1
		                                       from match
		                                      where user_id2 = #{userId2})
		  order by m.no desc
	</select>
	
	<select id="toChallengerList" resultMap="ChallengerListMap">
		select user_id2
		  from match
		 where match_no = #{matchNo}
		   and user_id1 = #{userId1}
	</select>
	
	<delete id="regCancel">
		delete
		  from match
		 where match_no = #{matchNo}
		   and user_id1 = #{userId1}
	</delete>
	
	<delete id="chalCancel">
		delete
		  from match
		 where match_no = #{matchNo}
		   and user_id1 = #{userId1}
		   and user_id2 = #{userId2}
		   and match_status = 0
	</delete>
	
	<delete id="chalCancelUpdate">
		delete
		  from match
		 where match_no = #{matchNo}
		   and user_id1 = #{userId1}
		   and user_id2 = #{userId2}
		   and match_status = 0
	</delete>
	
	<select id="selectListChal" resultMap="MatchMap">
		select *
		  from match
		 where user_id2 = #{userId2}
	</select>
</mapper>