#menuNav {
	margin-left: 63%;
}

.menuButton {
	background-color: window;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 15px;
	font-size: large;
}

.menuButton {
	margin-left: 30px; /* 원하는 간격 크기를 설정합니다 */
}

.menuButton:hover {
	background-color: orange;
	color: white;
	font-weight: bold;
}