* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
#nav1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#left {
	width: 40%;
	height: 90px;
}

#logo {
	width: 20%;
	height: 90px;
}

#member {
	width: 20%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav2 {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}
.modal {
    display: none; /* 초기에는 모달 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}
#nav2 a {
	text-decoration: none;
	color: black;
}

#matching, #ranking, #league, #vincero {
	width: 25%;
	text-align: center;	
}

#gym:hover {
	background-color: skyblue;
}

#gym {
	width: 25%;
	text-align: center;	
}

.modal {
      display: none; /* 모달 창 숨김 */
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }