*{
	list-style: none; 
	text-decoration: none; 
	color:black;
}
div{
	display: flex;
}

footer {
	width:1280px;
  margin-top: 40px;
  background-color: rgb(247, 247, 255);
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
footer ul {
  margin-top: 20px;
}
footer p {
  margin-top: 15px;
  margin-bottom: 20px;
}
li{
	margin-bottom:10px;
}
.sns{
	margin-right:150px;
}