/* 전체 css */
@font-face {
	font-family: 'KIMM_Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

* {
	padding: 0;
	font-family: 'KIMM_Bold';
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* 
1번 https://noonnu.cc/font_page/1068
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

2번 https://noonnu.cc/font_page/656
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/
#header {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	padding-bottom: 30px;
}

#member {
	margin-top: 10px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	height: 50px;
}

#member>li {
	float: right;
	width: 60px;
	position: relative;
	cursor: pointer;
}

#member>li>ul {
	width: 120px;
	display: none;
	position: absolute;
	padding: 10px;
	margin-right: 10px;
	z-index: 2;
}

#member>li>ul>li {
	padding: 7px;
}

#member>li>ul>li>a {
	color: white;
	text-align: center;
}

#member>li:hover>ul {
	display: block;
	border-radius: 5px;
	background-color: #333333e5;
	padding-top: 20px;
	right: 0;
}

#member>li>ul>li>a:hover {
	color: #F2A922;
	font-weight: bold;
}

#logo {
	text-align: center;
	padding-bottom: 50px;
}

#loginName {
	color: white;
	padding: 10px;
}

#header nav {
	margin: 0 auto;
	margin-bottom: 5%;
	/*
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	*/
}

#menubar {
	transition: 0.3s ease-in;
	position: relative;
}

#menu_list {
	display: table;
	width: 100%;
	text-align: center;
}

.titlemenu {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	width: 20%;
	position: relative;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.titlemenu ul {
	width: 100%;
	display: none;
	position: absolute;
	transition: 0.3s 0.2s;
}

.titlemenu ul li {
	white-space: nowrap;
	padding: 15px;
}

#menu_list>li>a {
	color: black;
}
#menu_list>li:hover .title {
	color: #c8220f;
}

.titlemenu:hover ul {
	display: block;
	background-color:#f7f7f7;
	z-index: 2;
}
.submenu_list>li:hover {
	background-color: #c8220f;
}

.submenu_list>li>a {
	color: black;
}
.submenu_list>li:hover a {
	color: white;
}

.sidebar {
	position: fixed; /* 스크롤을 따라오도록 지정 */
	background-color: black;
	width: 120px;
	z-index: 2;
	border-radius: 15px;
	top: 50%;
	left: 1%;
}

.sidebar nav>ul>li>ul {
	display: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* 모든 메뉴의 a에 속성값 부여 */
.sidebar nav>ul>li>a {
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
}

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.sidebar nav>ul>li {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.sidebar nav>ul>li:hover {
	background-color: #c8220f;
	/* border-bottom: 2px solid #c8220f; */
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.sidebar nav>ul>li:hover ul {
	display: block;
	position: absolute;
	background-color: #888;
	top: 0; /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
	left: 100%; /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
	width: 100%; /* 1차 메뉴의 너비를 상속 */
	z-index: 2;
	text-align: center;
}

.sidebar nav>ul>li>ul>li:hover {
	background-color: #c8220f;
}

.sidebar nav>ul>li>ul>li>ul>li:hover {
	background-color: #c8220f;
}

.sidebar nav>ul>li>ul>li a {
	color: white;
	font-weight: bold;
}

.sidebar nav>ul>li>ul>li {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* 3차 사이드바 메뉴 */
.sidebar nav>ul>li>ul>li .third {
	display: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sidebar nav>ul>li>ul>li>ul>li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.sidebar nav>ul>li>ul>li:hover ul {
	display: block;
	position: absolute;
	background-color: #888;
	top: 0; /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
	left: 100%; /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
	width: 100%; /* 1차 메뉴의 너비를 상속 */
	z-index: 2;
	text-align: center;
}

.sidebar #loginName {
	color: white;
	border-bottom: 2px solid white;
	padding: 15px;
	text-align: center;
}

#main {
	background-color: #f7f7f7;
	padding: 30px;
	margin-top: 5px;
}

#billboard {
	width: 1024px;
	height: 364px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	margin-top: 18px;
}

#billboard>div {
	display: flex;
	flex-direction: row;
	position: absolute;
}