body {
	font-family: Arial, sans-serif;
}

.container {
	
	height: 300px;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

button[type="button"] {
	display: inline-block;
	width: 120px;
	height: 50px;
	padding: 10px 20px;
	background-color: #c8220f;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button[type="button"]:hover {
	background-color: #c1120f;
}


input[type="text"], input[type="password"] {
	width: 230px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.btn {
	display: inline-block;
	width: 80px;
	height: 100px;
	padding: 10px 20px;
	background-color: #c8220f;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn:hover {
	background-color: #c1120f;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th {
	width:20%;
	padding: 10px;
	color: rgb(31, 9, 9);
	text-decoration: none;
}

td {
	padding: 10px;
	color: rgb(31, 9, 9);
	text-decoration: none;
}

.footer {
	background-color: #ffffff;
	color: rgb(26, 17, 17);
	padding: 10px;
	text-align: center;
}

.header {
	background-color: #ffffff;;
	color: rgb(32, 24, 24);
	padding: 10px;
	text-align: center;
}


.button {
    padding: 10px 20px;
    background-color: #c8220f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.button-row {
    margin-top: 20px;
}

.button-row button {
    margin-right: 10px;
}

