* {
	margin: 0;
	padding: 0;
}

#id-part {
	display: flex;
	flex-direction: row;
}

#pw-part {
	display: flex;
	flex-direction: row;
}

#signup-part {
	display: flex;
	flex-direction: row;
}

#login-part {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

#signup-part a {
	text-decoration: none;
	color: black;
}

#login-total {
	display: flex;
	flex-direction: column;
}

input[type="text"], input[type="email"] , input[type="password"]{
            width: 380px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }