@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'EF_watermelonSalad';
}

hr {
	width: 1400px;
	height: 1px;
	background-color: tomato;
	margin-bottom: 25px;
}

h1 {
	margin-top: 50px;
	margin-bottom: 25px;
	font-weight: normal;
}

h2 {
	margin-top: 50px;
	font-weight: normal;
}

#noticeTable th {
	text-align: right;
	height: 60px;
}

#noticeButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#noticeButton button {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
}

#noticeButton button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#listTable {
	display: flex;
	justify-content: center;
	border-collapse: collapse;
	margin-top: 30px;
}
#listTable th {
	width: 150px;
	font-family: 'EF_watermelonSalad';
	font-size: 20px;
	font-weight: normal;
	height: 50px;
	color: white;
	background-color: tomato;
}

#listTable td {
	text-align: center;
	height: 60px;
	font-size: 15px;
}


#listTable a {
	text-decoration: none;
	color: black;
}

#detailTable {
	text-align: right;
}

nav {
	margin-top: 20px;
}
nav a {
	color: black;
	text-decoration: none;
	
}

nav li {
	text-decoration: none;
	list-style: none;

	float: left;
}

#listButton button {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
}

#listButton button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#listButton {
	margin-right: 200px;
	float: right;
}

#detailTable th {
	text-align: right;
	height: 50px;
}

#detailTable td {
	text-align: left;
}

#detailButton button {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
	
}

#detailButton button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#detailFile {
	size = 200;
}

#content {
	background-color: white;
	margin-bottom: 30px;
	font-family: normal;
}

#subInfo {
	display: flex;
	flex-direction: column;
}

#subInfo>div {
	height: 40px;
}

#fileDiv button {
	width: 300px;
	height: 30px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
	margin-right: 30px;
}

#fileDiv button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#noticeDetailButton {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
}

#noticeDetailButton:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#noticeTitle {
	margin-bottom: 30px;
}

#textarea {
	border-width: 0;
	resize: none;
	overflow: visible;
}

#textarea:focus {
	outline: none;
}