@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'EF_watermelonSalad';
}

h1 {
	margin-top: 50px;
	margin-bottom: 25px;
	font-weight: normal;
}

h2 {
	margin-top: 50px;
}

#questionTable th {
	text-align: right;
	height: 50px;
}

#questionButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#questionButton button {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
}

#questionButton button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#listTable {
	display: flex;
	justify-content: center;
	border-collapse: collapse;
	margin-top: 30px;
}
#listTable th {
	width: 150px;
	font-family: 'EF_watermelonSalad';
	font-size: 20px;
	font-weight: normal;
	height: 50px;
	color: white;
	background-color: tomato;
}

#listTable td {
	text-align: center;
	height: 40px;
	font-size: 15px;
}

#listTable a {
	text-decoration: none;
	color: black;
}

#detailTable {
	margin-bottom: -50px;
}

nav {
	margin-top: 50px;
}
nav a {
	color: black;
	text-decoration: none;
	
}

nav li {
	text-decoration: none;
	list-style: none;

	float: left;
}

#listButton button {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
}

#listButton button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#listButton {
	margin-right: 200px;
	float: right;
}

#detailTable th {
	text-align: right;
	height: 50px;
}

#detailTable td {
	text-align: left;
}

#detailButton button {
	width: 100px;
	height: 70px;
	border-width: 0px;
	border-radius: 30px;
	font-family: 'EF_watermelonSalad';
	
}

#detailButton button:hover {
	background-color: black;
	color: rgb(239,239,239);
}

#detailButton {
	display: flex;
	justify-content: center;
}

#detailFile {
	size = 200;
}

.replyLine {
	float: left;
}

#questionWriter {
	border-width: 0px;
	resize: none;
	overflow: visible;
}

#questionWriter:focus {
	outline: none;
}

#search {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#search select, input {
	margin-right: 5px;
	padding: 6px;
	font-family: 'EF_watermelonSalad';
}

#search 
